* {
    box-sizing: border-box;
    color:linen;
    font-family: 'Ubuntu', sans-serif;
    
}

body {
    width: 100%;
    position:relative;
    background-image: url(../purple-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 110px;
    margin-top: 100px;
    margin-bottom: 50px;
    color:mediumorchid;
    display: flex;
    justify-content: center;
}

/* .header-nav-btn {
    color:linen;
    margin-bottom: 50px;
} */

.blog-topic {
    width: 850px;
    border: midnightblue;
    border-style: solid;
    margin:auto;
    margin-bottom: 100px;
    padding: 40px;
    font-size: large;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0,0,0,0.6); 
}

#main-subtitle {
    color:mediumorchid;
}

a {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

#avatar {
    display: flex;
    margin:auto;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 200px;
}